# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Card Game.iml
# Datasource local storage ignored files
/../../../../../../:\Github Projects\Card Game\.idea\.idea.Card Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
