# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.bestspell.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Github Projects\bestspell\.idea\.idea.bestspell\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
